<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Players</h1>
  <table id="players">
    <thead>
        <tr>
            <th>Player</th>
            <th>Height</th>
            <th>Position</th>
            <th>Team</th>
        </tr>
        </thead>
        <tbody>
        <% players.forEach(player => { %>
            <tr>
            <td><a href="/players/<%= player._id %>"><%=player.name%></a> </td>
            <td><%= player.height %></td>
            <td><%= player.position %></td>
            <td><%= player.teamPlayingFor?.name %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <% if (user) { %>
      <h2>Add a Player</h2>
      <form action="/players" method="POST">
        <label>
          Name: 
          <input type="text" name="name" autocomplete="off">
        </label>
        <label>
            Height: 
          <input type="text" name="height" autocomplete="off">
        </label>
        <label>
            Position: 
            <select name="position">
                <option value="PG">PG</option>
                <option value="SG">SG</option>
                <option value="SF">SF</option>
                <option value="PF">PF</option>
                <option value="C">C</option>
            </select>
        </label>
        <button type="submit">Add Player</button>
      </form>
    <% } %>
</section>
<%- include('../partials/footer') %>