<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
    <h1>Name: <%= player.name %></h1>
    <h1>Height: <%= player.height %></h1>
    <h1>Position: <%= player.position %></h1>
    <% if (player.profile.equals(user?.profile._id)) { %>
        <p>
            <a class="link" href="/players/<%= player._id %>/edit">Edit Player Details</a>
        </p>
        <p> 
            <form action="/players/<%= player._id %>?_method=DELETE" method="post">
                <button type="submit">
                    Delete this player
                </button>
            </form>
        </p>
    <% } %>
</section>

<%- include('../partials/footer') %>