<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
        class="profile-avatar"
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %> avatar"
      >
    </div>
  <% } %>
  <h1>It's <%= isSelf ? "You" : profile.name %>!</h1>
  <h2>Teams owned: </h2>
  <% console.log('profile id ' + profile._id) %>
  <% teams.forEach(team => { %>
    <% console.log('team manager ' + team.manager._id) %>
    <% if (team.manager._id === profile._id) { %>
        <% console.log('success') %>
        <h2>yes</h2>
    <% } %>
  <% }) %>
</main>

<%- include('../partials/footer') %>