<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section class="team-section">
  <h1>Teams</h1>
	<ul>
  <% teams.forEach(team => { %>
    <% if (team.name != 'FA') { %>
      <li>
        <a href="/teams/<%= team._id %>"><%= team.name %></a> 
      </li>
    <% } %>
  <% }) %>
  </ul>
<main>
  <% if (user) { %>
    <h2>Add a Team!</h2>
    <form action="/teams" method="POST">
      <label id="add-team-input">
        Name: 
        <input id="add-team-input" type="text" name="name" autocomplete="off">
      </label>
      <button type="submit">Add Team</button>
    </form>
  <% } %>
</section>
</main>

<%- include('../partials/footer') %>