<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Teams</h1>
	<ul>
  <% teams.forEach(team => { %>
    <li>
        <a href="/teams/<%= team._id %>"><%= team.name %></a> 
    </li>
  <% }) %>
  </ul>
  <% if (user) { %>
    <h2>Add a Team!</h2>
    <form action="/teams" method="POST">
      <label>
        Name: 
        <input type="text" name="name" autocomplete="off">
      </label>
      <button type="submit">Add Team</button>
    </form>
  <% } %>
</section>

<%- include('../partials/footer') %>