<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
    <h1><%= team.name %></h1>
    <table id="teamPlayers">
    <thead>
        <tr>
            <th>Player</th>
            <th>Height</th>
            <th>Position</th>
        </tr>
        </thead>
        <tbody>
        <% team.players.forEach(player => { %>
            <tr>
            <td><%= player.name %></td>
            <td><%= player.height %></td>
            <td><%= player.position %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <% if (team.manager.equals(user?.profile._id)) { %>
        <h2>Add Player</h2>
        <form action="/teams/<%= team._id %>" method="POST">
            <select name="playerId">
                <% players.forEach(player => { %>
                <option value="<%= player._id %>"><%= player.name %></option>
                <% }) %>
            </select>
            <button type="submit">Add to Team</button>
        </form>
        <h2>Remove Player</h2>
        <form action="/teams/<%= team._id %>" method="POST">
            <select name="playerId">
                <% team.players.forEach(player => { %>
                <option value="<%= player._id %>"><%= player.name %></option>
                <% }) %>
            </select>
            <button type="submit">Remove from Team</button>
        </form>
        <p>
            <a class="link" href="/teams/<%= team._id %>/edit">Edit this Team</a>
        </p>
        <p> 
        <form action="/teams/<%= team._id %>?_method=DELETE" method="post">
            <button type="submit">
                Delete this team
            </button>
        </form>
        </p>
    <% } %>
</section>

<%- include('../partials/footer') %>